   body {
       width: 100vw;
       margin: 0 auto;

   }

   .nav-container {
       display: flex;
       justify-content: space-between;
       align-items: center;
       height: 60px;
       /* border: 2px solid black; */
       padding: 0 20px;
       margin-top: 0px;
       background: linear-gradient(5deg, red, rgb(235, 179, 10));
       color: aliceblue;

   }

   .nav-link li {
       display: inline;
       padding: 0 10px;
       position: relative;
   }

   .nav-link a {
       text-decoration: none;
       color: black;

   }

   .sub-link {
       background-color: aqua;
       position: absolute;
       left: -20px;
       padding: 2px 5px;
       display: none;
   }

   .sub-link li {
       display: block;
       margin-left: 2px;
   }

   .main-link li:hover .sub-link {
       display: block;
       color: aliceblue;
   }

   .sub-link a {
       color: azure;
   }

   .main-link a {
       color: azure;
   }



   @media (max-width:500px) {
       .nav-container {
           flex-direction: column;
           align-items: center;
           justify-content: center;

           height: auto;

           padding: 0px;


       }
 h1{
    font-size: 2em;
    margin: 0px;
    
 }
  .main-link {
      margin: 0px;
      padding-bottom: 15px;

   }
   }